NotiicationRelay/.vs
NotiicationRelay/NotiicationRelay/bin
NotiicationRelay/NotiicationRelay/obj
NotiicationRelay/NotiicationRelay/NotiicationRelay.Android/obj
NotiicationRelay/NotiicationRelay/NotiicationRelay.Android/bin